{% extends 'base.html.twig' %}

{% block title %}{{parent()}} Contact{% endblock %}

{% block body %}

<h1 class="text-primary text-center">Bienvenue sur SHARE-Contact ✅ je suis un chien</h1>


{{ form_start(form) }}
    <div class="container">
        {{form_label(form.nom,'Nom',{'label_attr':{'class':'fw-bold'}})}}
        {{form_widget(form.nom,{'attr':{'class':'form-control' , 'placeholder':'le nom'}})}}

        {{form_label(form.email,'Email',{'label_attr':{'class':'fw-bold'}})}}
        {{form_widget(form.email,{'attr':{'class':'form-control' , 'placeholder':'email'}})}}

        {{form_label(form.sujet,'sujet',{'label_attr':{'class':'fw-bold'}})}}
        {{form_widget(form.sujet,{'attr':{'class':'form-control' , 'placeholder':'email'}})}}

        {{form_label(form.message,'Message',{'label_attr':{'class':'fw-bold'}})}}
        {{form_widget(form.message,{'attr':{'class':'form-control'}})}}
        <br>
        {{form_widget(form.envoyer, {'label':"Soumettre le formulaire", 'attr':{'class':'btn bg-primary'}})}}
    </div>
{{ form_end(form,{render_rest:true})}}
{% endblock %}